/* Celulares */
@media screen and (max-width: 767px) {
    body {
        background-color: #000000;
        color: white;
        margin: 0;

    }

    #titulo {
        background-image: url("https://i.pinimg.com/originals/4a/13/e1/4a13e1d80f844602befbf80076ddc097.jpg");
        background-color: rgb(173, 41, 41);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 900px;
        height: 400px;
        margin: 0px;
        padding: 0px;
    }

    sub {
        font-size: 16px;
        width: 60%;
        margin: auto;
        display: block;
    }

    #utm {
        width: auto;
        padding: 160px 0px;
        text-decoration: underline;
        font-size: 67px;
    }

    h1,
    h2 {
        width: 75%;
        margin: auto;
        text-align: center;
        font-size: 45px;
        margin-bottom: 35px;
    }

    div.music {
        width: 75%;
        margin: auto;
    }

    ul {
        list-style: decimal-leading-zero;
        font-size: 20px;
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 18px;
    }

    .introducao {
        text-align: center;
        text-align-last: center;
        width: 87%;
        margin: 15px auto;
        font-size: 20px;
    }

    div.bloco {
        background-color: rgba(129, 41, 41, 0.555);
        width: 94%;
        clear: both;
        margin: 15px auto;
        border-radius: 10px;
        border: 1px white solid;
    }

    a {
        display: block;
    }

    #cover {
        height: 460px;
        margin: auto;
        display: block;
        border: 1px white solid;
        border-radius: 15px;
    }



    div p {
        width: 81%;
        text-align: left;
        margin: 30px auto;
        font-size: 22px;
    }

    div.bloco img {
        height: 300px;
        width: 80%;
        border-radius: 15px;
        border: 1px black solid;
        display: block;
        margin: auto;
    }

    footer {
        background-color: rgb(20, 20, 20);
        height: 45px;
        color: rgba(245, 245, 220, 0.171);
        text-align: center;
    }

    

    h3 {
        width: 66%;
        margin: auto;
        text-align: center;
        font-size: 35px;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .back {
        background-image: url("../tarot/senkai-yami-cover.jpg");
        height: 600px;
        margin: auto;
        margin-bottom: 20px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 1s;
    }

    .front{
        transform: rotateY(180deg);
        transition: 1s;
    }

    .desc{
        opacity: 0;
        text-align: center;
        transition: 0.7s;
    }


    

}

/* S */
@media screen and (min-width: 577px) and (max-width: 767px) {
    body {
        background-color: #000000;
        color: white;
    }

    #titulo {
        background-image: url("https://i.pinimg.com/originals/4a/13/e1/4a13e1d80f844602befbf80076ddc097.jpg");
        background-color: rgb(173, 41, 41);
        background-blend-mode: multiply;
        background-position: center;
        background-size: 900px 500px;
        height: 460px;
    }

    sub {
        font-size: 16px;
        width: 60%;
        margin: auto;
        display: block;
    }

    #utm {
        padding: 200px 0;
        width: auto;
        text-align: center;
        text-decoration: underline;
        font-size: 77px;
    }

    h1,
    h2 {
        width: 66%;
        margin: auto;
        text-align: center;
        font-size: 38px;
        margin-bottom: 35px;
    }

    div.music {
        width: 65%;
        margin: auto;
    }

    ul {
        list-style: decimal-leading-zero;
        font-size: 18px;
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 18px;
    }

    .introducao {
        text-align: center;
        width: 80%;
        margin: 15px auto;
        font-size: 20px;
    }

    div.bloco {
        background-color: rgba(129, 41, 41, 0.555);
        width: 70%;
        clear: both;
        margin: 15px auto;
        border-radius: 10px;
        border: 1px white solid;
    }

    a {
        display: block;
    }

    #cover {
        height: 520px;
        margin: auto;
        display: block;
        background-color: 78, 78, 78;
        border: 2px white solid;
        border-radius: 15px;
    }



    div p {
        padding: 20px;
        text-align: justify;
        margin: 30px 10px;
        font-size: 20px;
    }

    div.bloco img {
        height: 300px;
        width: 360px;
        border-radius: 15px;
        border: 1px black solid;
        display: block;
        margin: auto;
    }

    footer {
        background-color: rgb(20, 20, 20);
        height: 45px;
        color: rgba(245, 245, 220, 0.171);
        text-align: center;
    }

    #types {
        float: none;
        display: block;
        margin: auto;
        width: 75%;
    }

    #types img {
        display: block;
        height: 400px;
        float: none;
        margin: auto;
        margin-bottom: 25px;
    }

    h3 {
        width: 66%;
        margin: auto;
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .back {
        background-image: url("../tarot/senkai-yami-cover.jpg");
        height: 490px;
        margin: auto;
        margin-bottom: 25px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 1s;
    }

    .front{
        transform: rotateY(180deg);
        transition: 1s;
    }

    .desc{
        opacity: 0;
        text-align: center;
        transition: 0.7s;
    }


}
/* M */
@media screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: #000000;
        color: white;
        margin: 0;

    }

    #titulo {
        background-image: url("https://i.pinimg.com/originals/4a/13/e1/4a13e1d80f844602befbf80076ddc097.jpg");
        background-color: rgb(173, 41, 41);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 610px;
    }

    sub {
        font-size: 16px;
        width: 60%;
        margin: auto;
        display: block;
    }

    #utm {
        width: 100%;
        text-decoration: underline;
        font-size: 89px;
        padding: 300px 0;
    }

    h1,
    h2 {
        width: 60%;
        margin: auto;
        text-align: center;
        font-size: 49px;
        margin-bottom: 33px;
    }

    div.music {
        width: 75%;
        margin: auto;
    }

    ul {
        list-style: decimal-leading-zero;
        font-size: 18px;
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 18px;
    }

    .introducao {
        text-align: center;
        width: 80%;
        margin: 15px auto;
        font-size: 25px;
    }

    div.bloco {
        background-color: rgba(129, 41, 41, 0.555);
        width: 70%;
        clear: both;
        margin: 15px auto;
        border-radius: 10px;
        border: 1px white solid;
    }

    a {
        display: block;
    }

    #cover {
        height: 520px;
        margin: auto;
        display: block;
        background-color: 78, 78, 78;
        border: 2px white solid;
        border-radius: 15px;
    }



    div p {
        padding: 20px;
        text-align: justify;
        margin: 30px 10px;
        font-size: 21px;
    }

    div.bloco img {
        height: 300px;
        width: 360px;
        border-radius: 15px;
        border: 1px black solid;
        display: block;
        margin: auto;
    }

    footer {
        background-color: rgb(20, 20, 20);
        height: 45px;
        color: rgba(245, 245, 220, 0.171);
        text-align: center;
    }

    #types {
        float: none;
        display: block;
        margin: auto;
        width: 70%;
    }

    #types img {
        display: block;
        height: 450px;
        float: none;
        margin: auto;
        margin-bottom: 25px;
    }

    h3 {
        width: 66%;
        margin: auto;
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    .back {
        background-image: url("../tarot/senkai-yami-cover.jpg");
        height: 600px;
        margin: auto;
        margin-bottom: 25px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 1s;
    }

    .front{
        transform: rotateY(180deg);
        transition: 1s;
    }

    .desc{
        opacity: 0;
        text-align: center;
        transition: 0.7s;
    }


}
/* L */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        background-color: #000000;
        color: white;
        margin: 0;

    }

    #titulo {
        background-image: url("https://i.pinimg.com/originals/4a/13/e1/4a13e1d80f844602befbf80076ddc097.jpg");
        background-color: rgb(173, 41, 41);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 720px;
    }

    sub {
        font-size: 16px;
        width: 60%;
        margin: auto;
        display: block;
    }

    #utm {
        width: 100%;
        text-decoration: underline;
        font-size: 120px;
        padding: 350px 0;
    }

    h1,
    h2 {
        width: 33%;
        margin: auto;
        text-align: center;
        font-size: 45px;
        margin-bottom: 33px;
    }

    div.music {
        width: 55%;
        margin: auto;
    }

    ul {
        list-style: decimal-leading-zero;
        font-size: 18px;
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 18px;
    }

    .introducao {
        text-align: center;
        width: 80%;
        margin: 15px auto;
        font-size: 20px;
    }

    div.bloco {
        background-color: rgba(129, 41, 41, 0.555);
        width: 70%;
        clear: both;
        margin: 15px auto;
        border-radius: 10px;
        border: 1px white solid;
    }

    a {
        display: block;
    }

    #cover {
        height: 520px;
        margin: auto;
        display: block;
        background-color: 78, 78, 78;
        border: 2px white solid;
        border-radius: 15px;
    }



    div p {
        padding: 20px;
        text-align: justify;
        margin: 30px 10px;
        font-size: 18px;
    }

    div.bloco img {
        height: 300px;
        width: 360px;
        border-radius: 15px;
        border: 1px black solid;
        display: block;
        margin: auto;
    }

    footer {
        background-color: rgb(20, 20, 20);
        height: 45px;
        color: rgba(245, 245, 220, 0.171);
        text-align: center;
        clear: both;
    }

    #id {
        width: 50%;
        float: none;
        margin: auto;
    }

    #sist-infor{
        margin: auto;
        width: 70%;
        font-size: 22px;
    }

    #id{
        width: 70%;
    }

    .back {
        background-image: url("../tarot/senkai-yami-cover.jpg");
        height: 490px;
        margin: auto;
        margin-bottom: 25px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 1s;
    }

    .front{
        transform: rotateY(180deg);
        transition: 1s;
    }

    h3{
        text-align: center;
        font-size: 28px;
    }

    .desc{
        opacity: 0;
        text-align: center;
        transition: 0.7s;
        font-size: 18px;
    }

}
/* X-l */
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    body {
        background-color: #000000;
        color: white;
        margin: 0;

    }

    #titulo {
        background-image: url("https://i.pinimg.com/originals/4a/13/e1/4a13e1d80f844602befbf80076ddc097.jpg");
        background-color: rgb(173, 41, 41);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        margin: 0px 10%;
        position: relative;
    }

    sub {
        font-size: 16px;
        width: 45%;
        margin: auto;
        display: block;
        margin-top: 31px;
    }

    #utm {
        width: 80%;
        margin: 0px 10%;
        position: absolute;
        top: 42%;
        text-decoration: underline;
        font-size: 90px;
    }

    h1,
    h2 {
        width: 66%;
        margin: auto;
        text-align: center;
        font-size: 45px;
        margin-bottom: 33px;
        margin-top: 25px;
    }

    div.music {
        width: 55%;
        margin: auto;
    }

    ul {
        list-style: decimal-leading-zero;
        font-size: 18px;
        margin-bottom: 20px;

    }

    li {
        margin-bottom: 18px;
    }

    .introducao {
        text-align: center;
        width: 80%;
        margin: 15px auto;
        font-size: 20px;
    }

    div.bloco {
        clear: both;
        float: left;
        background-color: rgba(129, 41, 41, 0.555);
        width: 70%;
        clear: both;
        margin: 15px;
        border-radius: 10px;
        border: 1px white solid;
    }

    #dir {
        float: right;
    }

    a {
        display: block;
        margin-left: 60%;
    }

    #cover {
        height: 360px;
        border: 2px white solid;
        border-radius: 15px;
    }


    div p {
        padding: 20px;
        text-align: justify;
        margin: 30px 10px;
        font-size: 18px;
    }

    div.bloco img {
        height: 260px;
        width: 300px;
        border-radius: 15px;
        border: 1px black solid;
        display: block;
        margin: 25px;
        float: left;

    }

    #sistema {
        position: relative;
    }

    #sist-infor {
        width: 45%;
        float: left;
        position: absolute;
        left: 100px;
        top: 50px;
    }

    hr {
        clear: both;
    }

    footer {
        background-color: rgb(20, 20, 20);
        height: 45px;
        color: rgba(245, 245, 220, 0.171);
        text-align: center;
        margin-top: 25px;
    }

    #c-rules {
        width: 50%;
        float: none;
        margin: auto;
    }

    #types {
        float: none;
        display: block;
        margin: auto;
        width: 50%;
    }

    #types img {
        display: block;
        height: 450px;
        float: none;
        margin: auto;
        margin-bottom: 25px;
    }

    h3 {
        width: 66%;
        margin: auto;
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    #types {
        float: none;
        display: block;
        margin: auto;
        width: 50%;
    }

    #types img {
        display: block;
        height: 450px;
        float: none;
        margin: auto;
        margin-bottom: 25px;
    }

    h3 {
        width: 66%;
        margin: auto;
        text-align: center;
        font-size: 35px;
        margin-bottom: 10px;
        margin-top: 25px;
    }

    #id{
        width: 50%;
        margin: auto;
        display: block;
        float: none;
    }

    .back {
        background-image: url("../tarot/senkai-yami-cover.jpg");
        height: 550px;
        margin: auto;
        margin-bottom: 25px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 1s;
    }

    .front{
        transform: rotateY(180deg);
        transition: 1s;
    }

    h3{
        text-align: center;
        font-size: 28px;
    }

    .desc{
        opacity: 0;
        text-align: center;
        transition: 0.7s;
        font-size: 18px;
    }

}
/* XX-l */
@media screen and (min-width: 1400px) {
    body {
        background-color: #000000;
        color: white;
        margin: 0;

    }

    #titulo {
        background-image: url("https://i.pinimg.com/originals/4a/13/e1/4a13e1d80f844602befbf80076ddc097.jpg");
        background-color: rgb(173, 41, 41);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        margin: 0px 10%;
        position: relative;
    }

    sub {
        font-size: 18px;
        width: 49%;
        margin: auto;
        display: block;
        margin-top: 31px;
    }

    #utm {
        width: 80%;
        margin: 0px 10%;
        position: absolute;
        top: 42%;
        text-decoration: underline;
        font-size: 152px;
    }

    h1,
    h2 {
        width: 66%;
        margin: auto;
        text-align: center;
        font-size: 45px;
        margin-bottom: 33px;
        margin-top: 28px;
    }

    div.music {
        width: 45%;
        margin: auto;
    }

    ul {
        list-style: decimal-leading-zero;
        font-size: 20px;
        margin-bottom: 19px;
        margin-bottom: 28px;
    }

    li {
        margin-bottom: 18px;
    }

    .introducao {
        text-align: center;
        width: 50%;
        margin: 15px auto;
        font-size: 26px;
    }

    div.bloco {
        clear: both;
        float: left;
        background-color: rgba(129, 41, 41, 0.555);
        width: 70%;
        clear: both;
        margin: 15px;
        border-radius: 10px;
        border: 1px white solid;
    }

    #dir {
        float: right;
    }

    a {
        position: absolute;
        right: 200px;
    }

    #cover {
        height: 480px;
        background-color: 78, 78, 78;
        border: 2px white solid;
        border-radius: 15px;
    }


    div p {
        padding: 20px;
        text-align: justify;
        margin: 30px 10px;
        font-size: 21px;
        margin-top: 60px;
    }

    div.bloco img {
        height: 260px;
        width: 300px;
        border-radius: 15px;
        border: 1px black solid;
        display: block;
        margin: 25px;
        float: left;

    }

    #sistema {
        position: relative;
        height: 500px;
        width: 70%;
        margin: auto;
    }

    #sist-infor {
        text-align: justify;
        text-align-last: center;
        position: absolute;
        width: 600px;
        font-size: 25px;
    }

    hr {
        clear: both;
    }

    footer {
        background-color: rgb(20, 20, 20);
        height: 45px;
        color: rgba(245, 245, 220, 0.171);
        text-align: center;
        clear: both;
        margin-top: 25px;
    }

    .pop-up:hover {
        transform: scale(1.009);
        transition: 1s;
    }

    div.pop-up:hover {
        background-color: rgba(185, 32, 32, 0.836);
        transition: background ease-in-out 0.5s;
    }

    #c-rules {
        width: 50%;
        float: none;
        margin: auto;
    }

    #id {
        width: 50%;
        float: none;
        margin: auto;
    }

    .back {
        background-image: url("../tarot/senkai-yami-cover.jpg");
        height: 550px;
        margin: auto;
        margin-bottom: 25px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 1s;
    }

    .front{
        transform: rotateY(180deg);
        transition: 1s;
    }

    h3{
        text-align: center;
        font-size: 34px;
    }

    .desc{
        opacity: 0;
        text-align: center;
        transition: 0.7s;
        font-size: 23px;
    }
    #types{
        float: none;
        width: 50%;
        margin: auto;
    }
}
/* Geral */
#louco.front {  
    background-image: url("../tarot/senkai-yami-0.jpg");       
}
#mago.front {  
    background-image: url("../tarot/senkai-yami-1.jpg");       
}
#sacerdotisa.front {  
    background-image: url("../tarot/senkai-yami-2.jpg");       
}
#imperatriz.front {  
    background-image: url("../tarot/senkai-yami-3.jpg");       
}
#imperador.front {  
    background-image: url("../tarot/senkai-yami-4.jpg");       
}
#hierofante.front {  
    background-image: url("../tarot/senkai-yami-5.jpg");       
}
#amantes.front {  
    background-image: url("../tarot/senkai-yami-6.jpg");       
}
#carroagem.front {  
    background-image: url("../tarot/senkai-yami-7.jpg");       
}
#força.front {  
    background-image: url("../tarot/senkai-yami-8.jpg");       
}
#eremita.front {  
    background-image: url("../tarot/senkai-yami-9.jpg");       
}
#roda.front {  
    background-image: url("../tarot/senkai-yami-10.jpg");       
}
#justica.front {  
    background-image: url("../tarot/senkai-yami-11.jpg");       
}
#enforcado.front {  
    background-image: url("../tarot/senkai-yami-12.jpg");       
}
#morte.front {  
    background-image: url("../tarot/senkai-yami-13.jpg");       
}
#temperanca.front {  
    background-image: url("../tarot/senkai-yami-14.jpg");       
}
#diabo.front {  
    background-image: url("../tarot/senkai-yami-15.jpg");       
}
#torre.front {  
    background-image: url("../tarot/senkai-yami-16.jpg");       
}
#estrela.front {  
    background-image: url("../tarot/senkai-yami-17.jpg");       
}
#lua.front {  
    background-image: url("../tarot/senkai-yami-18.jpg");       
}
#sol.front {  
    background-image: url("../tarot/senkai-yami-19.jpg");       
}
#julgamento.front {  
    background-image: url("../tarot/senkai-yami-20.jpg");       
}
#mundo.front {  
    background-image: url("../tarot/senkai-yami-21.jpg");       
}


.visible{
    opacity: 1;
    transition: 1.5s;
}